{{stepValues}}
{{listchoicesValues}}

<ngx-dropdown-treeview [buttonClass]="buttonClass" [items]="stepItems" (selectedChange)="stepValues = $event;filterWords();">
</ngx-dropdown-treeview>

<ngx-dropdown-treeview [buttonClass]="buttonClass" [items]="listchoicesItems" (selectedChange)="listchoicesValues = $event;filterWords();">
</ngx-dropdown-treeview>

<div class="container">
  <div class="row">
    <div *ngFor="let filteredWord of filteredWords" class="col-3">
      {{ filteredWord }}
    </div>
  </div>
</div>